{% extends 'base.html.twig' %}

{% block title %}CodeHub - Domovská stránka{% endblock %}

{% block body %}
<article>
    {% if hero %}
    <header class="hero">
        <h1 class="hero__title">{{ hero.title }}</h1>
        <p class="hero__intro">{{ hero.text }}</p>
    </header>
    {% endif %}

    {% if card_block %}
    <section class="card-block">
        <h2 class="card-block__title">{{ card_block.title }}</h2>
        <div class="card-block__gallery">
            {% for card in card_block.cards %}
                {% if card.isActive %}
                <a href="{{ card.linkUrl }}" class="card">
                    <img src="{{ asset('images/' ~ card.image) }}" alt="" class="card__cover"/>
                    <h3 class="card__title">{{ card.title }}</h3>
                    <p class="card__text">{{ card.text }}</p>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if accordion_block %}
    <section class="accordion">
        <header class="accordion__header">
            <h2 class="accordion__title">{{ accordion_block.title }}</h2>
            <p class="accordion__intro">{{ accordion_block.description }}</p>
        </header>
        <div class="accordion__contents">
            {% for faq in featured_faqs %}
            <section class="accordion__item" id="{{ 'qa-' ~ faq.id }}">
                <h3 class="accordion__heading">
                    <button 
                        class="accordion__question"
                        aria-expanded="false"
                        aria-controls="{{ 'a-' ~ faq.id }}"
                        id="{{ 'q-' ~ faq.id }}"
                    >
                        {{ faq.question }}
                    </button>
                </h3>
                <div class="accordion__details">
                    <p 
                        class="accordion__answer"
                        aria-labelledby="{{ 'q-' ~ faq.id }}"
                        role="region"
                        id="{{ 'q-' ~ faq.id }}"
                    >
                        {{ faq.answer }}
                    </p>
                </div>
            </section>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</article>
{% endblock %}
