<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CodeHub{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
            <link rel="stylesheet" href="{{ asset('css/hero.css') }}">
            <link rel="stylesheet" href="{{ asset('css/card-block.css') }}">
            <link rel="stylesheet" href="{{ asset('css/accordion.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav class="header">            
            <a href="/" class="header__home">
                <img src="{{ asset('images/logo.png') }}" alt="SiteOne" class="header__logo"/>
            </a>
            <div class="header__menu-container" id="header-menu-container">
                <div class="header__menu-flyout">
                    <button 
                        class="header__menu-button" 
                        role="presentation"
                        id="header-menu-button"
                    >
                        <img src="{{ asset('images/ham.svg') }}" alt="Menu" class="header__menu-icon"/>
                    </button>
                    <menu class="header__menu">
                        {% for item in menu_items %}
                            <li class="header__menu-item">
                                <a href="{{ item.url }}" target="{{ item.target }}" class="header__menu-link">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </menu>
                </div>
            </div>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
